body{
    font-family: 'Poppins', sans-serif;
    color: white;
}

.gradient-background{
    background-color: #ffd500;
    background-image: linear-gradient(180deg, #ffd500 0%, #3b5998 100%);
    background-repeat: no-repeat;
}

.head-1{
    color: #3b5998;
    text-align: center;
    margin-top: 5%;
    font-weight: bold;
}

.label{
    color: #3b5998;
    font-weight: bold;
    font-size: large;
}

.form-group, .form-check{
    margin-top: 3%;
}

@media only screen and (max-width: 600px) {
    body {
      height: 100vh
    }

    .head-1{
        margin-top: 10%;
    }

    .form-group, .form-check{
        margin-top: 5%;
    }
  }